# Use the -i flag for in-file as per the op help menu
eval $(op inject -i .env.secrets)

# Sync gcloud 
export CLOUDSDK_CORE_PROJECT=$GOOGLE_CLOUD_PROJECT

echo "✅ GCP Admin Environment: Active [Biometrically Locked]"
